/* Importated SpongeBob font from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Slackey', cursive;
    font-size: 120%;
}

/* styles start container */
.start {
    text-align: center;
}

/* Hide containers */
.hide {
    display: none;
}
/* styles timer */
.timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }