/* Importated SpongeBob font from googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;

}

body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 200, 124, 1) 0%, rgba(252, 251, 121, 1) 90%);
}

/* styles start container */
.start {
    text-align: center;

}

/* Hide containers */
.hide {
    display: none;
}

/* styles timer */
.timer {
    position: absolute;
    top: 0;
    right: 10px;
}

#questions {
    text-align: center;
    justify-content: center;

}

.wrapper {
    margin: 100px auto 0 auto;
    ;
}

h1,
ol {
    align-items: center;
}

button {
    display: inline;
    margin: 10px;
    cursor: pointer;
    background-color: #26b9c8;
    border-radius: 20px;
    padding: 10px;
    color: #fff56c;
    font-size: 100%;
}

.choice button {
    display: block;
}

button:hover {
    background-color: #26b8c8c8;
}

.wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

img {
    width: 200px;
    height: auto;
}